# Xcode & Apple Build Artifacts
build/
DerivedData/
*.xcuserstate
*.xcuserdatad
xcuserdata/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.pins
.swiftpm/xcode/package.xcworkspace/xcuserdata/
.swiftpm/xcode/xcshareddata/

# macOS System Files
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Test Reports & Profiling
TestReports/
*.profdata
*.proftext
